@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #00113B;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
}

.nav-section {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.nav-logo img {
    max-width: 100px;
}

.nav-link a {
    padding-right: 40px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #ffff;
}

.btn {
    padding: 12px 32px;
    background-color: #A8FE3B;
    font-size: 18px;
    font-weight: 500;
    color: #111111;
    border: solid 1px #A8FE3B;
}

.hr {
    width: 100%;
    height: .5px;
    background-color: #08164E;
}

/* HERO style */

.hero-section-1 {
    background-color: #00113B;
}

.hero-text {
    position: relative;
    max-width: 884px;
    margin: 0 auto;
    text-align: center;
    padding-top: 28px;

}

.main-header {
    font-size: 64px;
    font-weight: 600;
    line-height: 1.15625em;
    color: #fff;
}

span {
    color: #A8FE3B;
}

.hero-p {
    font-size: 20px;
    color: #BFBFBF;
    padding-top: 20px;
}

.hero-p-2 {
    font-size: 20px;
    color: #BFBFBF;
    padding-top: 8px;
    padding-bottom: 48px;
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 60px;
}

.start {
    position: relative;
    padding: 14px 66px 14px 32px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7777777777777777em;
    background-color: #A8FE3B;
    color: #111111;
    border: solid 1px #A8FE3B;
}

#color-arrow {
    position: absolute;
    right: 1000px;
}

#white-arrow {
    position: absolute;
    right: 770px;
    color: #A8FE3B;
}

.demo {
    padding: 14px 66px 14px 32px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7777777777777777em;
    background-color: #00113B;
    color: #A8FE3B;
    border: solid 1px #A8FE3B;
}

.animation-1 img {
    position: absolute;
    top: 164px;
    left: 420px;

}

.animation-2 img {
    position: absolute;
    bottom: 487px;
    right: 376px;

}